@media screen and (max-width: 850px){

/* CSS Mobile Reset */

body
{
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #fff;
 padding:5px;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	background-color: grey;
}

.main-container {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	
}
.header {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 100%;
	height: 15%;
	background-color: yellow;
	
}
.main-menu-button {
	margin: 5% 5% 5% 5%;
	float: left;
	width: 40%;
	height: 20%;
	background-color:orange;
}
.main-menu-Annobutton {
	margin: 5% 5% 5% 5%;
	float:left;
	width:90%;
	height: 15%;
	background-color:orange;
}

.get-container {
   text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	background-color: grey;
	
}


.get-menu-button {
	margin: 5% 5% 5% 5%;
	height: 60%;
	width:40%;
	background-color:orange;
}

.get-menu-Annobutton {
	margin: 5% 5% 5% 5%;
	float:left;
	width:90%;
	height:45%
	background-color:orange;
}


.log-in-container {
	float: left;
	text-align: center;
	margin: 5% 5% 5% 5%;
	width: 80%;
}
.announcement-container {
	float: left;
	text-align: center;
	margin: 10% 10% 0% 10%;
	width: 80%;
}
.announcement-header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
	width: 80%;
	background-color: lightyellow;
}
.announcement-holder {
	
}
.announcement-holder-odd {
	float: left;
	width: 100%;
	background-color: grey;
	border-style:solid;
	border-color: blue;
	border-width: 2px;
}
.announcement-holder-even {
	float: left;
	width: 100%;
	background-color: lightgrey;
	border-style:solid;
	border-color: blue;
	border-width: 2px;
}
.clear{
	clear:both;
}

.holds-container {
	width: 100%;
}

.hold-container {
	margin: 5%;
	float: left;
	height: 30%;
	width: 90%;
	background-color: yellow;
}

table.login {
	width: 90%;
	margin-left: auto;
    margin-right: auto;
}

input.login {
	width: 100%;
	height: 30px;
	font-size: large;
	font-weight: bold;
}

p#header { 
	text-align: center;
	font-size: large;
	font-weight:bold;
}
p#main-menu { 
	text-align: center;
	font-size: medium;
	font-weight:bold;
}



}