</div>
<div class="header">
	<p id="header">Announcement</p>
</div>
<div class="announcement-container">
	<div class="announcement-header">
		Announcement
	</div>
	<div class="announcement-holder" ng-repeat = "announcement in announcements">
		<a href="#/announcement/{{announcement.name}}">
			<div ng-class-odd="'announcement-holder-odd'" ng-class-even="'announcement-holder-even'">
				{{announcement.head}}: {{announcement.content}}
			</div>
		</a>
	</div>
</div>
<div class = "clear"> </div>
</div>