<div class="get-container">
	<div align="center">
		<div class="header">
			<p id="header">GET</p>
		</div>
		<br>
		</br>
		<a href = "#/grades">
			<div class = "main-menu-Annobutton">
				<p id = "get-menu">Grade</p>
			</div>
		</a>
		<a href = "#/financialAid">
			<div class = "main-menu-Annobutton">
				<p id = "get-menu">Financial Aid</p>
			</div>
		</a>
		<a href="#/GET-Holds">
			<div class = "main-menu-Annobutton">
				<p id = "get-menu">Holds</p>
			</div>
		</a>
		
	</div>
	<div class = "clear"> </div>
</div>
