<div class="header">
	<p id="header">{{title}}</p>
</div>
<div class = "inbox-header">
<a href = "#/email">Back to Mailbox</a> Inbox Edit
</div>
<div class="emails-holder" ng-repeat="email in emails">
	<div id="accordion">
		<h3>
		subject: {{email.subject}} </br>
		from: {{email.from}}
		</h3>
		<div>
			<p>
			to: {{email.to}} <br>
			date: {{email.date}} <br>
			Detail read here: <br>
			<a href = "#/email/inbox/{{email.uid}}">
				<image src="img/detail.png">
			</a>
			</p>
		</div>
	</div>
</div>
<div class = "clear"> </div>