<div class="header">
	<p id="header">Inbox</p>
</div>
<div class = "inbox-header">
<a href = "#/email" style="text-align: right;">Back to Mailbox</a> Inbox Edit
</div>
<div class="email-container">
	<input type="text" ng-model="email.to" placeholder="To">
</div>
<div class="email-container">
	<input type="text" ng-model="email.subject" placeholder="Subject">
</div>
<div class="email-container">
	<textarea rows="10" ng-model="email.text" placeholder="Body"></textarea>
</div>
<div class="email-container">
	<button ng-click="sendEmail()">Send Mail</button>
</div>
<div class = "clear"> </div>