<div class="header">
	<p id="header">Cal State Mobile</p>
</div>
<a href="#/email">
<div class = "main-menu-button">
	<p id = "main-menu">E-mail<span style="margin-left:20%; color:red;">{{newMail.0}}</span><p>
</div>
</a>
<a href="#/GET-Menu">
<div class = "main-menu-button">
	<p id = "main-menu">GET</p>
</div>
</a>
<a href="#/Schedule">
<div class = "main-menu-button">
	<p id = "main-menu">Schedule</p>
</div>
</a>
<a href="#/Parkings">
<div class = "main-menu-button">
	<p id = "main-menu">Parking</p>
</div>
</a>
<a href="#/announcement">
<div class = "main-menu-Annobutton">
	<p id = "main-menu">Announcement</p>
</div>
</a>
<div class = "clear"> </div>