<div class="get-container">
	<div align="center">
		<div class="header">
			<p id="header">Parking</p>
		</div>
		<br>
		</br>
		<a href = "#/Schedule/General">
			<div class = "main-menu-Annobutton">
				<p>Lot 2</p>
				<div class="parking-sign">P $ *</div>
				<div class="parking-container">3/10</div>
				<div class="clear"></div>
			</div>
		</a>
		<a href = "#/Schedule/Weekly">
			<div class = "main-menu-Annobutton">
				<p id = "get-menu">Weekly</p>
			</div>
		</a>
		
	</div>
	<div class = "clear"> </div>
</div>
