<!DOCTYPE html>
<html lang="en" ng-app="csm">
<title>Template</title>

<link rel="stylesheet" media="screen and (max-width: 850px)" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<link rel='stylesheet' type='text/css' href='lib/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='lib/fullcalendar/fullcalendar.print.css' media='print' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="lib/jquery-1.9.0.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="lib/jquery-ui-1.10.0.custom.js"></script>
<script src="lib/jquery-ui-1.10.0.custom.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>
<script type='text/javascript' src='lib/fullcalendar/fullcalendar.min.js'></script>

<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>
<script src="js/ui.js"></script>

</head>
<body ng-controller = "MainController" class="auth-demo-application">
	<div class="main-container">
	<div id="login-container">
	<form ng-submit="login()">
	<table class="login" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Username</th>
			<td><input type="text" ng-model="username"/></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" ng-model="password"/></td>
		</tr>
		<tr>
			<td colspan="2"><input class="login" type="submit" value="Log In"/></td>
		</tr>
	</table>
	</form>
	</div>
	<div id = "content" ng:controller="MainController">
		<!-- set up the routing -->
		<ng-view>
	</div>
	</div>
	<footer>
		<ng-switch on="$route.current.templateUrl">
			<ng-include ng-switch-when="partials/mail-detail.html" src="'partials/mailFooter.html'"></ng-include>
			<ng-include ng-switch-when="partials/mail.html" src="'partials/mailFooter.html'"></ng-include>
			<ng-include ng-switch-when="partials/inbox.html" src="'partials/mailFooter.html'"></ng-include>
			<ng-include ng-switch-when="partials/mail-send.html" src="'partials/mailFooter.html'"></ng-include>
			<ng-include ng-switch-default src="'footer.html'"></ng-include>
		</ng-switch>
	</footer>
</body>
</html>